<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="!local">
        <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>zylos.correlation_id</includeMdcKeyName>
                <includeMdcKeyName>zylos.subject</includeMdcKeyName>
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <customFields>{"service":"zylos-infra-gateway"}</customFields>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="json"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level [%X{zylos.correlation_id:-},%X{traceId:-}] %X{zylos.subject:-}
                    %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>
